<section class="about_page container" *ngFor="let about of about_pipe$ | async ">
    <h1>{{ about.title }}</h1>
    <p>{{ about.intro }}</p>
    <h2>{{ about.heading }}</h2>
    <div class="row">
        <div class="col s12 m6" *ngFor="let bio of about.bios">
          <div class="card">
            <div class="card-image">
              <img [src]="bio.picture">
              <span class="card-title">{{ bio.name }}</span>
            </div>
            <div class="card-content">
              <p>{{ bio.resume}}</p>
            </div>
          </div>
        </div>
    </div>
</section>