<div class="row">
  <div *ngFor="let video of videos">
    <div class="col">
      <div class="card youtube-card">
        <div class="card-image">
          <a href="https://www.youtube.com/watch?v={{video.id.videoId}}" target="_blank"><img [src]="video.snippet.thumbnails.medium.url" class="card-img-top" alt="..."></a>
        </div>
        <div class="card-content">
          <span class="card-title"><a href="https://www.youtube.com/watch?v={{video.id.videoId}}" target="_blank">{{video.snippet.title}}</a></span>
          <p>{{video.snippet.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ul class="pagination">
    <li *ngIf="prev!==''" class="waves-effect"><a [href]="prev">Previous episodes</a></li>
    <li *ngIf="next!==''" class="waves-effect"><a [href]="next">Next episodes</a></li>
</ul>