.fill{
    flex: 1 1 auto;
}
.main-container{
    flex: 1 0 auto;
    width:80%;
    margin:auto;
    margin-top:30px;
    opacity: 0;
}
:host {
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

mat-toolbar.nav-bar{
    /*background:#37474f00;*/
    position: fixed;
}

header, .footer-copyright{
    background-color: #1b1d1f;
}

.vertical-align{
    vertical-align: middle;
}
.love{
 color:#ab47bc;
}
footer nav{
    box-shadow: none !important;
}

header nav{
    background-color: #141618 !important;
}