/* You can add global styles to this file, and also import other style files */

@font-face {
    src: url(assets/fonts/Quicksand-Light.ttf);
    font-family: quicksand-light;
}

@font-face {
    src: url(assets/fonts/Quicksand-Regular.ttf);
    font-family: quicksand-regular;
}

@font-face {
    src: url(assets/fonts/Quicksand-Medium.ttf);
    font-family: quicksand-medium;
}

@font-face {
    src: url(assets/fonts/Quicksand-Bold.ttf);
    font-family: quicksand-bold;
}

html, body { height: 100%; }
body { margin: 0; font-family: quicksand-light, Roboto, "Helvetica Neue", sans-serif; }
h1{
    font-family: quicksand-bold;
}
h2{
    font-family: quicksand-medium;
}
a.btn-large{
    font-family: quicksand-medium;
}

@import '~@angular/material/_theming';
@include mat-core();

/* Primary Theme */
$guacamaya-app-primary: mat-palette($mat-blue-grey, 800);
$guacamaya-app-accent:  mat-palette($mat-pink, 500, 900, A100);
$guacamaya-app-warn:    mat-palette($mat-deep-orange);

$guacamaya-dark-primary: mat-palette($mat-blue-grey, 800);
$guacamaya-dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$guacamaya-dark-warn:    mat-palette($mat-deep-orange);

$guacamaya-app-theme: mat-light-theme($guacamaya-app-primary, $guacamaya-app-accent, $guacamaya-app-warn);
$guacamaya-dark-app-theme: mat-dark-theme($guacamaya-dark-primary, $guacamaya-dark-accent, $guacamaya-dark-warn);


/* Dark Theme */

@include angular-material-theme($guacamaya-app-theme);