.header-home{
 background-color: #1b1d1f;
 padding-bottom: 15px;
}

.guacamaya{
    max-width: 500px;
}

.vertical-align{
    vertical-align: middle;
}

.custom-icon{
    width: 32px !important;
}

.feedback{
    background: #d5d5d5;
    padding-top: 15px;
}