<section class="home_page container-fixed" *ngFor="let home of home_pipe$ | async ">
    <!--<div class="parallax-container">
        <div class="parallax"><img src="../assets/code-time.jpg"></div>
    </div>-->

    <div class="container-fixed center-align header-home">
      <a href="#" class="brand-logo"><img class="responsive-img guacamaya" src="../assets/guacamaya-logo-h.png"/></a>
      <p class="white-text container">{{home.intro.description}}</p><br/>
      <a [href]="home.episodes.channel" class="waves-effect waves-light btn blue"><img class="custom-icon vertical-align" src="../assets/youtube_social_icon_red.png"/> Youtube Channel</a>&nbsp;&nbsp;
      <a [href]="home.twitter_feeds.link" target="_blank" class="waves-effect waves-light btn red"><img class="custom-icon vertical-align" src="../assets/Spotify_Icon_RGB_White64x64.png"/> Listen Us in Spotify</a><br/>
    </div>

    <div class="container home-container">
     <h2>Sponsors</h2>
     <!--Here goes the twitter feeds section--->
     <!--End of twitter feeds section-->
     <h2>Last episodes</h2>
     <app-youtube channel="UC7WVhpS_lwJot0DBaEnIccg" items="3" showPagination="no"></app-youtube>
    </div>
</section>
<!--<app-blog></app-blog>-->